.login-form {
  margin: 40px auto;
  max-width: 300px;
}

.login-form input,
.login-form button {
  display: block;
  margin: 10px 0px;
  padding: 10px;
  width: 100%;
  font-size: 13px;
  box-sizing: border-box;
}

.login-form .error-message {
  text-align: center;
  color: #dd0000;
  height: 20px;
  line-height: 20px;
}
