.system-settings {
  margin: 20px 0px;
}

.system-settings table {
  width: 100%;
  max-width: 400px;
}

.system-settings table .system-settings-label {
  padding: 10px 0px;
  font-weight: bold;
}

.system-settings td input {
  display: block;
  margin: 5px 0px;
  width: 100%;
}

.system-settings td input[name="backup-cron"] {
  font-family: Courier New, Courier;
  font-weight: bold;
}

.system-settings .system-settings-disabled {
  margin: 10px 0px;
  color: #aa0000;
}

.system-info .system-backup {
  margin-right: 10px;
}

.system-info .system-backup,
.system-info .system-next-backup {
  display: inline-block;
}

.system-info .system-next-backup {
  padding: 8px 0px;
}

.system-table {
  margin-bottom: 20px;
  padding: 0px;
  width: 100%;
}

.system-table tr td {
  padding: 5px 0px;
  border-top: 1px solid #c0c0c0;
}

.system-table tr:last-child td {
  padding-bottom: 5px;
  border-bottom: 1px solid #c0c0c0;
}

.system-table tr td.system-detail {
  font-size: 13px;
  text-align: right;
}

.system-table tr td.system-buttons {
  text-align: right;
}
